node_modules
typings
dist/*.js
dist/*.css
dist/*.*.map
dist/resources/*
app/*.js
app/*.css
app/*.*.map
electron
!app/index.js
!app/main.js
app/resources/*
demo/dist
coverage
npm-debug.log
release
docs/
app/stats.html
dist/stats.html
app/sw.json
dist/sw.json

log/

*.swp
dist/*.json
*.zip
*.log

*.asm
hydrogen-*.cfg
store.perf.*

selenium-debug.log

test/e2e/reports

dist/

output/

dist/index.html
dist/credits.html
dist/visitor-popup.html
dist/agentConsole.aspx
dist/logo256x256.png
dist/manifest.json

app/index.html
credits.html
app/visitor-popup.html
app/agentConsole.aspx
app/logo256x256.png
app/manifest.json

licenses.json

app.asar
dist/index.html
app/agent-console/